      <style>

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

      </style>
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <a href="#/form" class="btn btn-default">Form Example</a>
        <a href="#/grid" class="btn btn-primary">Grid Example</a>
        <div>Angular seed app: v<span app-version></span></div>
      </div>
